<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Cotizá tu 0km al mejor precio. Garantía oficial en autos y camionetas.">
        <meta name="keywords" content="contactos concesionaria,ford venta,concesionaria cerca de mi,autos usados por la zona,concesionaria,concesaria de ford,concesionaria de chev,autos usados,concesionaria de peug,autos usados a la venta,camionetas usadas a la venta">
    
        <title>Contactanos-Larruso Auto Group</title>
        
        <link rel="stylesheet" href="../assets/css/nav.css">
        <!--   <link rel="stylesheet" href="../assets/css/contacto.css"> -->
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        
    </head>
<body>
    <!-------------------------------------------------------------------------------------NAV BAR---------------------------------------------------------------------------->
<header>
    <div><img class="navboton" src="../img/bonsai.png" alt="" width="50px" height="50px" ></div>

    <nav class="menu-desktop">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./venta.html">Autos en venta</a></li>
            <li><a href="./financiacion.html">Financiacion</a></li>
            <li><a href="./comparar.html">Comparar</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
        
    <ul id="contacto">
        <li><a href="#">IG</a></li>
        <li><a href="#">FB</a></li>
        <li><a href="#">YT</a></li>
    </ul>

</header>

<nav class="menu-mobile">
    <section class="navegacion"  >
        <a class="navegacion-lista" href="../index.html">Home</a>
        <a class="navegacion-lista" href="./venta.html">Autos en venta</a>
        <a class="navegacion-lista" href="./financiacion.html">Financiacion</a>
        <a class="navegacion-lista" href="./comparar.html">Comparar</a>
        <a class="navegacion-lista" href="./contacto.html">Contacto</a>
    </section>
</nav>
<script src="../js/menu.js"></script>
</body>
</html>