<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <title>Larruso Auto Group</title>
        
        <link rel="stylesheet" href="../assets/css/nav.css">
        <link rel="stylesheet" href="../assets/css/financiacion.css">
        
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        
    </head>
<body>
    <!-------------------------------------------------------------------------------------NAV BAR---------------------------------------------------------------------------->
    <header>

        <div class="fas fa-car-side navboton" > </div>
        
            <nav class="menu-desktop">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./venta.html">Autos en venta</a></li>
                    <li><a href="./financiacion.html">Finaciacion</a></li>
                    <li><a href="./comparar.html">Comparar</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
    
            <ul  id="contacto">
                <li><a href="#">IG</a></li>
                <li><a href="#">FB</a></li>
                <li><a href="#">YT</a></li>
            </ul>
    
    </header>
    
    <nav class="menu-mobile">
        <section class="navegacion"  >
            <a class="navegacion-lista" href="./views/venta.html">Autos en venta</a>
            <a class="navegacion-lista" href="./views/financiacion.html">Finaciacion</a>
            <a class="navegacion-lista" href="./views/comparar.html">comparar</a>
            <a class="navegacion-lista" href="./views/contacto.html">Contacto</a>
        </section>
    </nav>
</body>
</html>