:root {
	--black: #000001;
	--yellow: #ffff33;
	--red: rgb(201, 81, 81);
	--white: #fffcfc;
	--gray: #8b8f92;
	--light-black: #3d4145;
}
h1 {
	font-size: 2.125em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.375em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.875em;
}
h6 {
	font-size: 0.75em;
}
@media screen and (max-width: 1200px) {
	body {
		font-size: 14px;
	}
}
